@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --color1: #3d53fa;
    --color2: #58d69e;
    --color3: #589dd6;
    --color4: #66fa73;
    --color5: #6debed;
}

html{
    scroll-behavior: smooth;
}

/*! HEADER */

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: linear-gradient(to left, #76b852, #8dc26f);
}

.contenedor-logo{
    width: 50%;
}

.logo{
    margin: auto 3%;
    padding: 20px;
    width: 7vh;
    border-radius: 50%;
    box-shadow: 1px 1px 20px -20px rgba(0, 9, 54, 50);
}

.barra-navegacion{
    width: 50%;
    text-align: center;
    margin: auto 1%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.link{
    padding: 7px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
}

.portada{
    width: 100%;
}

/*! MAIN */

/*? TIPOS DE CUERDAS */

.container-card{
    max-width: 70%;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.card{
    width: 300px;
    margin: 110px 20px 20px 20px;
    position: relative;
    transition: all 300ms;
}

.card:hover{
    box-shadow: 0px 12px 25px -25px rgba(20, 20, 20, 49);
}

.card:hover .imagen{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -12px 25px -25px rgba(20, 20, 20, 49);
}

.card:hover .info-description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.imagen{
    width: 100%;
    background: #eff3f5;
    height: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.imagen-encordado{
    width: 100%;
    height: 50%;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info-description{
    width: 100%;
    height: 220px;
    color: #474747;
    background: #eff3f5;
    padding: 10px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.info-description p{
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.info-description input{
    margin-top: 20px;
    padding: 10px 15px;
    background: var(--color3);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    transition: all 300ms;
    font-family: 'Poppins', sans-serif;
}

.info-description input:hover{
    box-shadow: 1px 1px 20px -5px rgba(20, 20, 20, 70);
    background: var(--color1);
}

/*? INFORMACION */

.informacion{
    width: 100%;
    height: 30vh;
    padding-top: 60px;
}

.diferenciales{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-sobre-nosotros{
    width: 30%;
    text-align: center;
}

.encordando{
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgba(20, 20, 20, 40);
    width: 100%;
    transition: all 1s;
}

.encordando:hover{
    transform: scale(105%);
}

.sobre-nosotros{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.lista{
    list-style: none;
    line-height: 2rem;
}

.referencia{
    font-family: 'Poppins', sans-serif;
    transition: all 800ms;
}

.referencia:hover{
    transform:translateX(10px);
}

.barra-divisora{
    width: 70vw;
    height: 1px;
    margin: 70px auto;
    background: #ddd;
}

/*? UBICACION */

.ubicacion{
    width: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 5px;
}

.mapa{
    width: 25%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
}

.ubicacion .mapa p{
    text-align: center;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*? CONTACTO */

.nav-contacto{
    width: 100%;
    height: 200px;
    margin: 5% auto;
}

.contacto{
    width: 70%;
    margin: auto;
    text-align: center;
}

.correo{
    width: 10%;
}

.whatsapp{
    width: 10%;
}

.instagram{
    width: 10%;
}

.linkedin{
    width: 10%;
}

/*! QUERIES */

@media screen and (max-width: 1200px) {

    /*! HEADER */

    .navbar{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: auto;
    }

    .contenedor-logo{
        margin: 10px auto auto auto;
    }

    .barra-navegacion{
        flex-direction: column;
        line-height: 1.2rem;
    }

    .link{
        margin-left: 0px;
        font-size: 20px;
    }

    .portada{
        height: 100vh;
    }

    /*! MAIN */

    /*? VOLVER AL INICIO */

    .flecha-arriba{
        width: 80%;
    }

    /*? INFORMACION */
    
    .diferenciales{
        flex-direction: column;
        text-align: center;
    }

    .imagen-sobre-nosotros{
        width: 55%;
        margin: auto;
        margin-bottom: 10px;
    }

    .sobre-nosotros{
        width: 50%;
        margin: auto;
    }

    .lista{
        width: 100%;
        padding: 0px;
    }

    /*? UBICACION */

    .ubicacion{
        flex-direction: column;
        align-items: center;
    }

    .mapa{
        width: 80%;
        height: 200px;
        margin-bottom: 50px;
    }

    /*? CONTACTO */

    .correo{
        width: 20%;
    }
    
    .whatsapp{
        width: 20%;
    }
    
    .instagram{
        width: 20%;
    }
    
    .linkedin{
        width: 20%;
    }
}