---
import '../../css/acerca.css'
---

<section id="acerca" class="w-full mx-auto my-10">
    <div class="w-full flex flex-col md:flex-row">
        <div class="w-full md:w-2/4 flex justify-center md:justify-end px-4 mb-4 md:mb-0">
            <img src="images/encordando.jpg" class="w-2/4 rounded-2xl img-string" />
        </div>
        <div class="flex flex-col justify-between w-2/4 px-4 font-bold mx-auto">
            <span class="dif"><img src="images/tick.png" class="inline-block" /> Más de 15 años de experiencia.</span>
            <span class="dif"><img src="images/tick.png" class="inline-block" /> Amplia gama de cordajes.</span>
            <span class="dif"><img src="images/tick.png" class="inline-block" /> Cursos y capacitación permanente.</span>
            <span class="dif"><img src="images/tick.png" class="inline-block" /> Asesoramiento técnico personalizado.</span>
            <span class="dif"><img src="images/tick.png" class="inline-block" /> Encordados en el día.</span>
        </div>
    </div>
</section>