---
import '../../css/header.css'
---

<header class="w-full h-screen">
    <div class="flex h-2/4 justify-center items-start pt-10">
        <img src="images/cz.png" class="w-32 drop-shadow-2xl" />
    </div>
    <nav class="container flex flex-col m-auto w-full items-center font-extrabold">
        <a class="hover:cursor-pointer text-2xl py-2" href="#strings">Cuerdas</a>
        <a class="hover:cursor-pointer text-2xl py-2" href="#acerca">Acerca de nosotros</a>
        <a class="hover:cursor-pointer text-2xl py-2" href="#contact">Contacto</a>
    </nav>
</header> 